/* Fuente */
@font-face {
  font-family: "RubikGlitch(Regular)";
  src: url(/fonts/RubikGlitch-Regular.ttf);
}
/* Fuente */

body {
  background-color: #2c2c2c;
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  text-align: center;
  background-image: url('Img/thinkpad_bc2.png')
}

.thinkpad {
  background-image: url('Img/thinkpad_tun222222.png');
  background-size: cover;
  border-radius: 10px;
  width: 1400px;
  height: 700px;
  margin: 100px auto;
  padding: 20px;
  margin-top: 10px;
  
}

.Resuelve{
  margin-top: 260px;
  color: black;
}
#problem{
  color: black;
  font-size: 1.2rem;
}
input {
  margin-top: 186px;
  margin-right: 130px;
  font-size: 1.2em;
  padding: 20px 1px;
  background-color: #2c2c2c00;
  border-color: #2c2c2c00;
}
button{
  margin-right: -370px;
  padding: 35px 60px;
  border-radius: 30px;
  font-size: 30px;
  color: rgb(243, 243, 243);
  background-color: rgba(157, 24, 218, 0);
  border-color: #2c2c2c00;
}
button:hover{
  cursor: pointer;
  background-color: rgba(128, 23, 177, 0.575);
}
#next-container{
  visibility: hidden;
}

#feedback {
  font-size: 2em;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.arrow {
  display: inline-block;
  margin-top: 20px;
  color: lime;
  text-decoration: none;
  font-size: 1.5em;
}

.arrow:hover {
  color: white;
}

/* Estilo definido exclusivamente para la pantalla de derrota */
#defeat-Rout {
  background-image: url(Img/Img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.defeat-RoutAnnounce {
  font-family: "RubikGlitch(Regular)", serif;
  font-size: 7vh;
  position: fixed;
  top: 30%;
  left: 50%;
  justify-self: center;
  transform: translate(-50%, -50%);

  color: black;
  text-shadow: 
  3px 0 0 white,
  -3px 0 0 white,
  0 3px 0 white,
  0 -3px 0 white;
}

.defeat-RoutBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  position: fixed;
  top: 60%;
  left: 50%;
  justify-self: center;
  transform: translate(-50%, -50%);

  text-decoration: none;

  color: white;
}